.venv

# Python virtual environment (venv)
bin/
lib/
lib64
pyvenv.cfg



.pdm-python
.DS_Store

__pycache__/

.egg-info/
*.egg

# Distribution / packaging
build/
dist/

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm-project.org/#use-with-ide
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# MAC Dev Stuff
.DS_Store
